{% extends "base_generic.html" %}

{% block content %}
<div>{% csrf_token %}</div>
<div>
    <div class="table-responsive">
        <table id="editable_table" class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>id</th>
                <th>время составления заявки</th>
                <th>контрагент</th>
                <th>Комментарий</th>
                <th>груз в ттн</th>
                <th>грузим<br>фактически</th>
                <th>качество</th>
                <th>суточный</th>
                <th>вывезено</th>
                <th>пункт выгрузки</th>
                <th>время приёмки</th>
            </tr>
            </thead>
            <tbody>
            {% for task in dostavka %}
            <tr>
                <td>{{ task.id }}</td>
                <td>{{ task.date }}</td>
                <td>{{ task.contractor }}</td>
                <td>{{ task.comments }}</td>
                <td>{{ task.rubble }}</td>
                <td>{{ task.cargo_type }}</td>
                <td>{{ task.cargo_quality }}</td>
                <td>{{ task.daily_plan }}</td>
                <td>{{ task.daily_shipped }}</td>
                <td>{{ task.destination }}</td>
                <td>{{ task.hours }}</td>
            </tr>

            {% endfor %}
            <tr style="background-color: yellowgreen;">
                <td colspan="6">САМОВЫВОЗ</td>
            </tr>
            {% for task in samovyvoz %}
            <tr>
                <td>{{ task.id }}</td>
                <td>{{ task.date }}</td>
                <td>{{ task.contractor }}</td>
                <td>{{ task.comments }}</td>
                <td>{{ task.rubble }}</td>
                <td>{{ task.cargo_type }}</td>
                <td>{{ task.cargo_quality }}</td>
                <td>{{ task.daily_plan }}</td>
                <td>{{ task.daily_shipped }}</td>
                <td>{{ task.destination }}</td>
                <td>{{ task.hours }}</td>
            </tr>
        
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}