{% extends "base_generic.html" %}

{% block content %}
<div>{% csrf_token %}</div>
<div id="last_changes_id" style="display: none">{{ last_changes_id }}</div>
<div id="list_tasks_id" style="display: none">{{ list_tasks_id }}</div>
<div>
    <div class="table-responsive">
        <table id="editable_table" class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>id</th>
                <th>время составления заявки</th>
                <th>контрагент</th>
                <th>Комментарий</th>
                <th>груз в ттн</th>
                <th>грузим<br>фактически</th>
                <th>качество</th>
                <th>общий<br>объём</th>
                <th>общий<br>остаток</th>
                <th>суточный<br>объём</th>
                <th>выполнено</th>
                <th>м.</th>
                <th>пункт выгрузки</th>
                <th>время приёмки</th>
            </tr>
            </thead>
            <tbody>
            {% for task in dostavka %}
            <tr>
                <td>{{ task.id }}</td>
                <td class="datedit">{{ task.date|date:'Y-m-d\TH:i' }}</td>
                <td>{{ task.contractor }}</td>
                <td>{{ task.comments }}</td>
                <td>{{ task.rubble }}</td>
                <td>{{ task.cargo_type }}</td>
                <td>{{ task.cargo_quality }}</td>
                <td>{{ task.total_plan }}</td>
                <td class="to-finish-total-plan">{{ task.to_finish_total_plan}}</td>
                <td>{{ task.daily_plan }}</td>
                <td class="daily_shipped">{{ task.daily_shipped }}</td>
                <td class="cars">{{ task.cars_on_loading }}</td>
                <td>{{ task.destination }}</td>
                <td>{{ task.hours }}</td>
            </tr>

            {% endfor %}
            <tr id="razdel"></tr>
            {% for task in samovyvoz %}
            <tr>
                <td>{{ task.id }}</td>
                <td class="datedit">{{ task.date|date:'Y-m-d\TH:i' }}
                <td>{{ task.contractor }}</td>
                <td>{{ task.comments }}</td>
                <td>{{ task.rubble }}</td>
                <td>{{ task.cargo_type }}</td>
                <td>{{ task.cargo_quality }}</td>
                <td>{{ task.total_plan }}</td>
                <td class="to-finish-total-plan">{{ task.to_finish_total_plan}}</td>
                <td>{{ task.daily_plan }}</td>
                <td class="daily_shipped">{{ task.daily_shipped }}</td>
                <td class="cars">{{ task.cars_on_loading }}</td>
                <td>{{ task.destination }}</td>
                <td>{{ task.hours }}</td>
            </tr>
        
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}