{% load static %}
<!DOCTYPE html>
<html>
<head>
    {% block title %}
    <title>Наряд</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{% static 'css/bootstrap-yeti.min.css' %}" rel="stylesheet" id="theme-file">
    <link href="{% static 'css/prettify.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/prettify-bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">
    <link href="favicon.ico" rel="shortcut icon">
    {% endblock %}
</head>
<body>
    {% block content %}{% endblock %}
    <script   src="https://code.jquery.com/jquery-3.3.1.min.js"   integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="   crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="js/jquery-3.3.1.min.js"><\/script>')</script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/prettify.min.js' %}"></script>
    <script src="{% static 'js/tabledit.min.js' %}"></script>
    <script>
    $(document).ready(function(){
        function update()
        {
            $.post("{% url 'update' %}", {suggest: txt}, function(result){
                $("span").html(result);
        });
        }
        function getCookie(c_name)
            {
                if (document.cookie.length > 0)
                {
                    var c_start = document.cookie.indexOf(c_name + "=");
                    if (c_start != -1)
                    {
                        c_start = c_start + c_name.length + 1;
                        var  c_end = document.cookie.indexOf(";", c_start);
                        if (c_end == -1) c_end = document.cookie.length;
                        return unescape(document.cookie.substring(c_start,c_end));
                    }
                }
                return "";
             }
        var list_cargo_type = '{{ cargo_type }}'.replace(/&#39;/g, '"');
        var list_cargo_quality = '{{ cargo_quality }}'.replace(/&#39;/g, '"');
        $.ajaxSetup({
        headers: { "X-CSRFToken": getCookie("csrftoken") }
        });
        $('#editable_table').Tabledit({
            url:"{% url 'update_task'%}",
            hideIdentifier: true,

            buttons: {
                edit: {
                    class: 'btn btn-sm btn-default',
                    html: '<span class="fa fa-pencil"></span>',
                    action: 'edit'
                },
                delete: {
                    class: 'btn btn-sm btn-default',
                    html: '<span class="fa fa-trash"></span>',
                    action: 'delete'
                },
                save: {
                    class: 'btn btn-sm btn-success',
                    html: 'Сохранить'
                },
                restore: {
                    class: 'btn btn-sm btn-warning',
                    html: 'Восстановить',
                    action: 'restore'
                },
                confirm: {
                    class: 'btn btn-sm btn-danger',
                    html: 'Подтвердить'
                }
            },
            columns:{
                identifier:[0, "task_id"],
                editable:[[1, 'date'], [3, 'comments'], [5, 'cargo_type', list_cargo_type], [6, 'cargo_quality', list_cargo_quality], [7, 'daily_plan'], [10, 'hours']],
            },

            onSuccess:function (data, textStatus, jqXHR) {
                if(data.action == 'delete') {
                    $('#'+data.id).remove();
                }
            },

        });
        var x = document.getElementsByName("date");
        for (i = 0; i < x.length; i++) {
            x[i].setAttribute("type", "datetime-local");
        }

    });


    </script>

</body>
</html>