{% load static %}
<!DOCTYPE html>
<html>
<head>
    {% block title %}
    <title>Наряд</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{% static 'css/bootstrap-yeti.min.css' %}" rel="stylesheet" id="theme-file">
    <link href="{% static 'css/prettify.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/prettify-bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">
    <link href="favicon.ico" rel="shortcut icon">
    {% endblock %}
</head>
<body>
    {% block content %}{% endblock %}
    <script   src="https://code.jquery.com/jquery-3.3.1.min.js"   integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="   crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="js/jquery-3.3.1.min.js"><\/script>')</script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/prettify.min.js' %}"></script>
    <script src="{% static 'js/tabledit.min.js' %}"></script>
    <script>
    $(document).ready(function(){
        function update()
        {
            $.post("{% url 'update' %}", {suggest: txt}, function(result){
                $("span").html(result);
        });
        }
        function getCookie(c_name)
            {
                if (document.cookie.length > 0)
                {
                    var c_start = document.cookie.indexOf(c_name + "=");
                    if (c_start != -1)
                    {
                        c_start = c_start + c_name.length + 1;
                        var  c_end = document.cookie.indexOf(";", c_start);
                        if (c_end == -1) c_end = document.cookie.length;
                        return unescape(document.cookie.substring(c_start,c_end));
                    }
                }
                return "";
             }
        var list_cargo_type = '{{ cargo_type }}'.replace(/&#39;/g, '"');
        var list_cargo_quality = '{{ cargo_quality }}'.replace(/&#39;/g, '"');
        $.ajaxSetup({
        headers: { "X-CSRFToken": getCookie("csrftoken") }
        });
        var errors;
        $('#editable_table').Tabledit({
            url:"{% url 'update_task'%}",
            hideIdentifier: true,

            buttons: {
                edit: {
                    class: 'btn btn-sm btn-default',
                    html: '<span class="fa fa-pencil"></span>',
                    action: 'edit'
                },
                delete: {
                    class: 'btn btn-sm btn-default',
                    html: '<span class="fa fa-trash"></span>',
                    action: 'delete'
                },
                save: {
                    class: 'btn btn-sm btn-success',
                    html: 'Сохранить'
                },
                restore: {
                    class: 'btn btn-sm btn-warning',
                    html: 'Восстановить',
                    action: 'restore'
                },
                confirm: {
                    class: 'btn btn-sm btn-danger',
                    html: 'Подтвердить'
                }
            },
            columns:{
                identifier:[0, "task_id"],
                editable:[[1, 'date'], [3, 'comments'], [5, 'cargo_type', list_cargo_type], [6, 'cargo_quality', list_cargo_quality], [7, 'total_plan'], [9, 'daily_plan'], [12, 'hours']],
            },

            onSuccess: function(data, textStatus, jqXHR) {
                console.log('onSuccess(data, textStatus, jqXHR)');
                console.log(data);
                console.log(textStatus);
                console.log(jqXHR);

                var row = $("#"+data['task_id']);
                if (data['errors']) {
                    errors = data['errors'];
                    for (var key in data['errors']) {
                        if(data['errors'].hasOwnProperty(key)) {
                            row.find("[name=" + "'" + key + "'" + "]").siblings("span")[0].innerHTML = data['errors'][key];
                            row.find("[name=" + "'" + key + "'" + "]").parent().css({"background-color": "red", "color": "white"});
                        }
                    }
                } else {
                    if (errors) {
                        for (var key in errors) {
                            if (errors.hasOwnProperty(key)) {
                                row.find("[name=" + "'" + key + "'" + "]").parent().css({
                                    "background-color": "inherit",
                                    "color": "inherit"
                                });
                            }
                        }
                    }
                    row.find(".to-finish-total-plan")[0].innerHTML = data['to_finish_total_plan'];
                    }

            },

            onFail: function(jqXHR, textStatus, errorThrown) {
                alert('Обрыв связи с сервером!');
            },

        });
        var x = document.getElementsByName("date");
        for (i = 0; i < x.length; i++) {
            x[i].setAttribute("type", "datetime-local");
        }

        $('#razdel').empty();
        $('#razdel').append('<td colspan="13"><h3> С А М О В Ы В О З</h3></td>')

        setInterval(function () {
            var last_change_id = $("#last_changes_id").html();
            $.post("{% url 'update' %}",
                {
                    id: last_change_id,
                },
                function(data, status){

                    if (data.length > 2){
                        var obj_list = JSON.parse(data);
                        for (var i=0; i<obj_list.length; i++){
                            var obj = new Object(obj_list[i]);
                            var row = $('#' + String(obj['pk']));
                            var fields = obj['fields'];
                            /*дата*/
                            row.find('[name="date"]').prev("span").text(fields['date']);
                            row.find('[name="date"]').val(fields['date']);
                            /*комментарий*/
                            row.find('[name="comments"]').prev("span").text(fields['comments']);
                            row.find('[name="comments"]').val(fields['comments']);
                            /*род груза*/

                            /*row.find('[name="cargo_type"]').find(':selected').remove(':selected');*/
                            row.find('[name="cargo_type"]').find('[value="'+fields['cargo_type']+'"]').attr('selected', 1);
                            row.find('[name="cargo_type"]').prev("span").text(row.find('[name="cargo_type"]').find(':selected').text());
                            /*марка груза*/

                            /*row.find('[name="cargo_quality"]').find(':selected').remove(':selected');*/
                            row.find('[name="cargo_quality"]').find('[value="'+fields['cargo_quality']+'"]').attr('selected', 1);
                            row.find('[name="cargo_quality"]').prev("span").text(row.find('[name="cargo_quality"]').find(':selected').text());
                            /*общий объём*/
                            row.find('[name="total_plan"]').prev("span").text(fields['total_plan']);
                            row.find('[name="total_plan"]').val(fields['total_plan']);
                             /*общий остаток*/
                            row.find('[class="to_finish_total_plan"]').text(fields['to_finish_total_plan']);
                            /*суточный план*/
                            row.find('[name="daily_plan"]').prev("span").text(fields['daily_plan']);
                            row.find('[name="daily_plan"]').val(fields['daily_plan']);
                            /*вывезено за сутки*/
                            row.find('[class="daily_shipped"]').text(fields['daily_shipped']);
                            /*время приёма*/
                            row.find('[name="hours"]').prev("span").text(fields['hours']);
                            row.find('[name="hours"]').val(fields['hours']);
                        }
                    }
                });
        }, 60000)
    });


    </script>

</body>
</html>