{% extends "auth_base_generic.html" %}

{% block content %}
    <div class="container">
    {% if validlink %}

        <p>Введите новый пароль.</p>
        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <div class="input">
                <div class="title">
                {{ form.new_password1.errors }}
                    <label for="id_new_password1">New password:</label>
                </div>
                {{ form.new_password1 }}
            </div>
            <div class="input">
                <div class="title">
                    {{ form.new_password2.errors }}
                    <label for="id_new_password2">Confirm password:</label>
                </div>
                {{ form.new_password2 }}
            </div>
            <input type="submit" value="Заменить пароль" />
        </form>
    {% else %}
        <h1>Password reset failed</h1>
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}
    </div>
{% endblock %}